
UnityJAR_unity/Library/
UnityJAR_unity/Packages/manifest.json
UnityJAR_unity/Temp/
UnityJAR_unity/UnityJAR_unity.sln
UnityJAR_unity/Logs/Packages-Update.log
UnityJAR_unity/ProjectSettings/VFXManager.asset
UnityJAR_unity/UnityJAR_unity.csproj
UnityJAR_unity/Assembly-CSharp.csproj
UnityJAR_unity/Unity.PackageManagerUI.Editor.csproj
UnityJAR_unity/Unity.Analytics.DataPrivacy.csproj
UnityJAR_unity/Unity.TextMeshPro.csproj
UnityJAR_unity/Unity.CollabProxy.Editor.csproj
UnityJAR_unity/Unity.TextMeshPro.Editor.csproj
UnityJAR_unity/.vs/UnityJAR_unity/v15/
UnityJAR_unity/obj/Debug/
UnityJAR_unity/.vs/UnityJAR_unity/v16/
Unity_C++_Interop/CppForUnity/.vs/
Unity_C++_Interop/CppForUnity/Debug/
Unity_C++_Interop/Unity_InteropCpp/.vs/Unity_InteropCpp/v16/.suo
Unity_C++_Interop/Unity_InteropCpp/Library/
Unity_C++_Interop/Unity_InteropCpp/Temp/
Unity_C++_Interop/Unity_InteropCpp/obj/
Unity_C++_Interop/Unity_InteropCpp/Logs/Packages-Update.log
Unity_C++_Interop/CppForUnity/x64/Debug/pch.obj
Unity_C++_Interop/CppForUnity/x64/Debug/dllmain.obj
Unity_C++_Interop/CppForUnity/x64/Debug/UnityCppInterop.obj
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.vcxproj.FileListAbsolute.txt
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/CppForUnity.lastbuildstate
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/CL.write.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/CL.read.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/CL.command.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.pch
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.log
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.Build.CppClean.log
Unity_C++_Interop/CppForUnity/x64/Debug/vc142.pdb
Unity_C++_Interop/CppForUnity/x64/Debug/vc142.idb
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/link.command.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/CppForUnity.write.1u.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/link.write.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/link.read.1.tlog
Unity_C++_Interop/CppForUnity/x64/Debug/Debuger.obj
Unity_C++_Interop/CppForUnity/x64/Debug/CppForUnity.tlog/link.12964.delete.1.tlog
